@import url('https://fonts.googleapis.com/css?family=Anton|Roboto:100,300,400,500,700,900&display=swap');

*
{
   margin: 0;
   padding: 0;
}

body
{
   font-family: "Roboto", sans-serif;
}

.nav-bar
{
   background-color: black;
   display: flex;
}

h1
{
   color: white;
   font-family: 'Anton', sans-serif;
   font-size: 2.5rem;
   font-style: italic;
   margin-left: 200px;
}

.nav-bar p
{
   margin: auto 200px;
}

.nav-bar a
{
   border-right: 1px solid gray;
   color: #cccccc;
   font-size: 1.35rem;
   padding: 0 20px; 
   text-decoration: none;
}

.nav-bar a:hover
{
   text-decoration: underline;
   color: lightslategray;
}

.nav-bar a:last-child
{
   border-right: none;
}

.nav-bar a i
{
   color: #cccccc;
   font-size: 1.1rem;
}

#header
{
   position: relative;
}

#header img
{
   width: 100%;
}

#greeting
{
   color: #cccccc;
   font-family: 'Anton', sans-serif;
   font-size: 2.5rem;
   margin-left: 200px;
   position: absolute;
   top: 10px;
   left: 560px;
}

.content
{
   background-color: #131313
}


.content .container
{
   background-color: #6c6c6c;
   margin: 0 auto;
   width: 85%;
   padding: 10px;
}

#intro
{
   display: flex;
}

h3
{
   font-size: 1.5rem;
}

.intro-section p
{
   font-size: 1.2rem;
   line-height: 1.2;
   text-align: justify;
}

.intro-section:first-of-type
{
   margin-right: 10px;
}

.intro-section:last-of-type
{
   margin-left: 10px;
}

h2
{
   font-size: 2rem;
}

.container-items
{
   display: flex;
}

.container-section img
{
   width: 100%;
}

.news-section:first-of-type
{
   margin-right: 5px;
}

.news-section-middle
{
   margin: 0 5px;
}

.news-section:last-of-type
{
   margin-left: 5px
}

.container-section a
{
   color: black;
   text-decoration: none;
   font-weight: bold;
}

.container-section a:hover
{
   text-decoration: underline;
}

.stock-section
{
   width: 50%;
   padding: 10px 0;
}

.stock-section ul
{
   margin-left: 20px;
   font-size: 1.2rem;
}

.stock-section p
{
   font-size: 1.2rem;
}

.location-section
{
   margin: 0 auto;
   padding: 10px 0;
}

.content img
{
   border: 1px solid black;
}